
services:
  loan-service:
    build: ../services/loan-service
    image: bank/loan-service:demo
    environment:
      - CONDUCTOR_SERVER_URL: http://aps1kfkalbdv1-1956246462.ap-south-1.elb.amazonaws.com/api/
    depends_on:
      - conductor-server
    networks:
      - conductor_net

  risk-service:
    build: ../services/risk-service
    image: bank/risk-service:demo
    environment:
      - CONDUCTOR_SERVER_URL: http://aps1kfkalbdv1-1956246462.ap-south-1.elb.amazonaws.com/api/
    depends_on:
      - conductor-server
    networks:
      - conductor_net

  corebanking-service:
    build: ../services/corebanking-service
    image: bank/corebanking-service:demo
    environment:
      - CONDUCTOR_SERVER_URL: http://aps1kfkalbdv1-1956246462.ap-south-1.elb.amazonaws.com/api/
    depends_on:
      - conductor-server
    networks:
      - conductor_net

networks:
  conductor_net:
    external: true
    name: docker_internal  # Replace with the actual network used by conductor-server
